<p id="notice"><%= notice %></p>

<p>
  <b>To csv:</b>
  <%= @message.to_csv %>
</p>

<p>
  <b>Template:</b>
  <%= @message.template %>
</p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
